@font-face {
	font-family: "Muli-Regular";
	src: url("fonts/muli/Muli-Regular.ttf"); }
@font-face {
	font-family: "Muli-SemiBold";
	src: url("fonts/muli/Muli-SemiBold.ttf"); }
@font-face {
	font-family: "Poppins-Regular";
	src: url("fonts/poppins/Poppins-Regular.ttf"); }
@font-face {
	font-family: "Poppins-Medium";
	src: url("fonts/poppins/Poppins-Medium.ttf"); }
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; }

body {
	font-family: Consolas, Courier New;
	font-size: 4px;
	margin-top: 0em;
	margin-left: 0em;
	padding: -7em 0em 1em 0em;
	height: 0em;
	text-align: left; }
.header {
	text-align: center;
}
.header.end {
	margin-bottom: -3em;
}
.footer {
	width:  auto;
}
h1 {
	margin-bottom: -0.5em;
}
.qty {
	margin-right: 5px;
}
.logo {
	margin-right: auto;
	margin-left: auto;
	text-align: center; }
	.logo img{
		max-width: 55%; }
.detail {
	display: inline-block;
}
.detail.price {
	position: fixed;
	left: 8em;
	margin-top: 1.769em;
}
.detail.toteach {
	position: fixed;
	left: 14.8em;
	margin-top: 1.769em;
	text-align: right;
}
.detail.sign.one {
	position: fixed;
	left: 13.2em;
	margin-top: -1.769em;	
}
.detail.sign.two {
	position: fixed;
	left: 13.2em;
	margin-top: -0.6845em;	
}
.detail.jug {
	position: fixed;
	left: 9.2em;
	margin-top: 1.769em;	
}
.indent {
	text-align: right;
	width: 10em;
}
