@font-face {
	font-family: "Muli-Regular";
	src: url("../../asset/fonts/muli/Muli-Regular.ttf"); }
@font-face {
	font-family: "Muli-SemiBold";
	src: url("../../asset/fonts/muli/Muli-SemiBold.ttf"); }
@font-face {
	font-family: "Poppins-Regular";
	src: url("../../asset/fonts/poppins/Poppins-Regular.ttf"); }
@font-face {
	font-family: "Poppins-Medium";
	src: url("../../asset/fonts/poppins/Poppins-Medium.ttf"); }
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; }

body {
	font-family: "Poppins-Regular";
	font-size: 13px;
	margin: 0;
	padding: 0em 0em 0em 0em;
	width:  auto;
	min-height: 100%;
	box-sizing: border-box;
	overflow-y: auto;
	color: #FFF;
	background-image: url("../../asset/images/memphis-light-3.png"); }

input, textarea, select {
	font-family: "Muli-Regular";
	font-size: 13px;
	color: #FFF; }

select option {
	background: #FFF;
	color: #44588c;
	font-family: "Muli-Regular"; }

p, h1, h2, h3, h4, h5, h6, ul {
	margin: 0; }

img {
	max-width: 100%; }

ul {
	padding-left: 0;
	margin-bottom: 0; }

a {
	text-decoration: none; }

:focus {
	outline: none; }

::placeholder {
	color: #c1d3ff; }

.wrapper {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin: 0em 3em 0em 3em;
	padding: 0;
	display: flex;
	flex-direction: column;
	overflow: visible;
	min-height: 100vh; }

.inner {  
	border-radius: 7px;
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
	-ms-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
	-o-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
	background: url("../../asset/images/bg-inner.png") repeat;
	padding: 10px;
	margin-top: 5em;
	margin-bottom: 5em;
	margin-left: auto;
	margin-right: auto;
	width: 55em; }

form {
	width: 100%;
	padding: 40px 40px 40px 40px;
	background: linear-gradient(to bottom, #142d4c, rgba(0,55,79,1));
	border-radius: 7px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0.4, 0.4); }

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	cursor: pointer; }

.border {
	text-transform: uppercase;
	font-size: 5px;
	font-family: "Poppins-Medium";
	background: #98dace;
	letter-spacing: 3px;
	margin-bottom: 22px;
	font-weight: 500; 
	text-align: center;
	border-radius: 20px;
	margin: 3em 0 3em 0;
	margin-top: 22px;
	margin-bottom: 11px; }

.logo {
	margin-right: auto;
	margin-left: auto;
	text-align: center; }
	.logo img{
		max-width: 50%;
		opacity: 1; }

.form-row {
	display: flex;
	margin-bottom: 10px; }
	.form-row .form-wrapper {
		width: 50%; }
		.form-row .form-wrapper:first-child {
			margin-right: 18px; }
			.form-row .form-wrapper.item:nth-child(2) {
				margin-right: 18px; }     
			.form-row .form-wrapper.item:nth-child(3) {
				margin-right: 18px; }
			.form-row.chem .form-wrapper.item:nth-child(4) {
				margin-right: 18px; }				
			.form-row .form-wrapper.item {
				width: 30.4%; }
			.form-row .form-wrapper.item.two {
				width: 24%; } 
			.form-row .form-wrapper.item.three {
				width: 14.5%; }
			.form-row .form-wrapper.item.four{
				width: 15.85%; }
			.form-row .form-wrapper.long.item.trx {
				width: 76.50%; }
			.form-row .form-wrapper.long.item.trx.mobile {
				display: none; }
			.form-row .form-wrapper.long:first-child {
				margin-right: 0px; } 
			.form-row.chem .form-wrapper.item.one {
				width: 20%; }
			.form-row.chem .form-wrapper.item.two {
				width: 16.4%; }
			.form-row.chem .form-wrapper.item.five {
				width: 15%; }
			.form-row.stat .form-wrapper.item.one {
				width: 57.25%; }				
	.form-row.long {
		width: 100%; }
		.form-row.long .form-wrapper.long {
			width: 100%; }
		.form-row.long .form-wrapper.long i.fa-question-circle {
			padding-left: 5px; 
			cursor: pointer; }
ul {
	list-style-type: none;
	padding: 0;
	margin: 0; 
	display: block; }

.form-wrapper {
	position: relative; }
	.form-wrapper label {
		display: block;
		font-family: "Muli-SemiBold";
		font-size: 17px;
		color: #FFF;
		margin-top: 8px;
		margin-bottom: 0px; }
	.form-wrapper.long.trx label {
		margin-left: 143px; }
	.form-wrapper i.zmdi-chevron-down {
		position: absolute;
		right: 1px;
		top: 42px;
		font-size: 15px;
		color: #FFF; }
	.form-wrapper span.lnr-calendar-full {
		position: absolute;
		left: 0px;
		font-size: 15px;
		color: #4d65b5;
		padding-top: 0.8em; }
	.form-wrapper.item i.zmdi-chevron-down {
		right: -38px;
		top: 14px; }		
	.form-wrapper.item.trx i.zmdi-chevron-down {
		right: -143px;
		top: 42px; }				

.small-icon {
	position: absolute;
	left: 0px;
	padding-top: 0.5em;
	font-size: 15px;
	color: #FFF; }
	.small-icon.item {
		padding-top: 0em;
		font-size: 1.8em;
		color: #fc99be; }
	.small-icon.small-item.one{
		left: 37px; }
	.small-icon.small-item.one.chem{
		left: 41px; }
	.small-icon.small-item.one.stat{
		left: 41px; }		
	.small-icon.small-item.two{
		left: 41px; }  
	.small-icon.small-item.two.chem{
		left: 39px; }		
	.small-icon.small-item.three, .small-icon.small-item.four {
		left: 39px; }    
	.small-icon.small-item.long{
		left: 145px; }		

.form-control {
	border-width: 0 0 4px 0;
	border-color: #FFF;
	display: block;
	background: transparent;
	color: #FFF;
	text-shadow: 0px 0px 3px black; 	
	width: 100%;
	height: 42px;
	padding: 0 25px; }
	.form-control.long {
		width: 100%;
		flex-shrink: 0; }
	.form-row .form-wrapper.item .form-control {
		margin-left: 40px; }
	.form-row.long .form-wrapper.long.item .form-control {
		margin-left: 145px; }		
	.form-row .form-wrapper.item.three .form-control, .form-row .form-wrapper.item.four .form-control {
		padding-right: 0;
		padding-left: 30px; } 
	.form-row.long .form-wrapper.long.item.trx .form-control {
		padding-left: 25px; }
	.form-row.last.long .form-wrapper.long .form-control {
		padding-left: 30px;
		pointer-events: none; }
	.form-row.last.cash .form-wrapper .form-control {
		padding-left: 30px; }
	.form-row.last.cash .form-wrapper.change .form-control {
		pointer-events: none; }							
	.form-row .form-wrapper.item .form-control.money { 
		pointer-events: none; }
	.form-control.datepicker-here {
		padding-left: 25px; }

.parent-list.ldry li:first-child .form-row .form-wrapper.item.one .small-icon.item {
	color: #c1d3ff;
	pointer-events: none; }
.parent-list.chem li:first-child .form-row .form-wrapper.item.one .small-icon.item {
	color: #c1d3ff;
	pointer-events: none; }	
.parent-list.stat li:first-child .form-row .form-wrapper.item.one .small-icon.item {
	color: #c1d3ff;
	pointer-events: none; }		
.parent-list .form-row {
	margin-bottom: 0; }

.checkbox {
	position: relative;
	text-shadow: 0px 0px 3px black; 
	margin-top: 22px;
	text-align: justify;
	padding-left: 22px; }
	.checkbox label {
		cursor: pointer; }
	.checkbox input {
		position: absolute;
		opacity: 0;
		cursor: pointer; }
	.checkbox a {
		color: #aaffba; }
	.checkbox input:checked ~ .checkmark:after {
		display: block; }

.checkmark {
	position: absolute;
	top: 3px;
	left: 0;
	height: 12px;
	width: 13px;
	border-radius: 3px;
	background-color: #ebebeb;
	border: 1px solid #ccc;
	font-family: Material-Design-Iconic-Font;
	font-size: 10px;
	font-weight: bolder; }
	.checkmark:after {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: none;
		content: '\f26b';
		color: black; }

button {
	border: none;
	width: 100%;
	height: 42px;
	margin-top: 30px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	background: linear-gradient(to right, rgba(85,128,233,1), rgba(132,206,235,1));
	opacity: 1;
	color: #283f6d;
	text-shadow: 0px 0px 0px black; 		
	text-transform: uppercase;
	font-family: "Muli-Regular";
	font-size: 15px;
	position: relative;
	border-radius: 20px;
	box-shadow: 0px 2px 10px 0px rgba(0.7, 0.7, 0.7, 0.7);
	transition: all 0.7s; }
	button span {
		letter-spacing: 1.5px;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		font-weight: bold;    
		transition: all 0.3s; }
	button:hover {
		opacity: 1; }
	.form-row button {
		margin: 0;
		position: absolute;
		width: auto; }
	button#add-item {
		background: linear-gradient(to right, rgba(27,193,135,1), rgba(87,219,173,1));		
		margin-top: -10px;
		margin-bottom: 0px;
		width: 27%; }

.splash-screen {
	display: none; }

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	width: 415px;
	background: linear-gradient(to bottom, #142d4c, rgba(0,55,79,1));
	color: white;
	text-align: left;
	border-radius: 6px;
	padding: 10px 10px 10px 10px;
	position: absolute;
	z-index: 1;
	top: -5px;
	left: 180%;
	font-size: 14px;
	font-family: Consolas;
	text-shadow: 0px 0px 2px black;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.7);
	z-index: 9000;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 6.5%;
	right: 100%;
	margin-top: -5px;
	border-width: 7px;
	border-style: solid;
	border-color: transparent #142d4c transparent transparent;
}

span#prod {
	color: #aaffba;
	font-weight: bold;
}

.foot-logo{
	letter-spacing: 1px;
	text-align: center;
	padding: 1.5em 1.3em 1.3em 1.3em;
	background: linear-gradient(to right, #142d4c, rgba(0,55,79,1));
	font-size: 0.8em;
	color: #FFFFFF; 
	flex-shrink: 0; }
	.foot-logo a {
		text-decoration: none;
		color: #aaffba; }
	.foot-logo a i {
		font-size: 2em;
		padding-left: 0.7em;
		padding-bottom: 0.4em; }

/* media query goes here lmao */

@media (max-width: 900px) {
	/* 
	0 kurangin padding
	0 tombol add item ada diatas, bukan sebelah. list dibikin long 100%
	- zmdi product type naikin
	- service head, chem head, stat head perbaikin margin / padding nya
	0 ukuran logo kecilin
	0 ukuran teks footer kecilin
	*/
	body, html {
		width: auto;
		background-image: none; 
		overflow-x: hidden;
		overflow-y: auto; }
	.wrapper {
		margin: 0em 0.7em -4em 0.7em;
		min-height: 0vh; }
	.inner {
		width: auto;
		transform: translateY(0);
		position: static;
		padding: 0em;
		margin-top: 0.7em;
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-ms-box-shadow: none;
		-o-box-shadow: none; }
	.splash-screen {
		position: relative;
		margin-right: auto;
		margin-left: auto;
		margin: 0em 3em 0em 3em;
		padding-top: 5em;
		display: none;
		flex-direction: column;
		overflow: visible;
		color: black; }		
	.form-row .form-wrapper.long.item.trx {
		display: none;
	}		
	.form-row .form-wrapper.long.item.trx.mobile {
		display: block;
		width: 100%;
	}
	.form-row .form-wrapper.long.item.trx.mobile button {
		top: 1.5em;
	}
	.form-row .form-wrapper.long.item.trx.mobile.two {
		top: 5.5em;
		margin-bottom: 7.5em;
	}
	.form-row .form-wrapper.long.item.trx.mobile.two .form-control, .form-row .form-wrapper.long.item.trx.mobile.two label {	
		margin-left: 0px;
	}
	.small-icon.small-item.long{
		left: 0px; }			
	button#add-item {
		width: 100%;
	}  
	.logo {
		margin : 0em auto 1em auto;
		text-align: center; }
		.logo img{
			max-width: 60%;
			opacity: 1; }	
	.foot-logo{ 
		font-size: 0.55em;
	}
	form {
		padding: 30px 20px; }
		.form-row {
			display: block; }
		.form-row.combine {
			display: flex; }
		.form-row.combine .form-wrapper.item {
			margin-right: 2px;
		}
		.form-wrapper.item.trx i.zmdi-chevron-down {
			right: 1.3px;
			top: 34px; }				
		.form-row.combine .form-wrapper.item .zmdi{
			display: none;
		}		
		.form-row .form-wrapper.item .form-control {
			margin-left: 40px;
			margin-top: 0px; }
		.form-row.ldry.combine .form-wrapper.item .form-control, .form-row.ldry.combine .form-wrapper.item .small-icon.small-item{
			margin-left: 0px; }
		.form-row.combine .form-wrapper .form-control {
			width: 100%;
			border-radius: 0px;
		}		
		.form-row.ldry .form-wrapper.item {
			min-width: 100%;
			max-width: 100%;
		}
		.form-row.ldry, .form-row.chem, .form-row.stat {
			margin-top: 2.5em;
		}
		.parent-list.ldry li:first-child .form-row, .parent-list.chem li:first-child .form-row, .parent-list.stat li:first-child .form-row {
			margin-top: 0em;
		}
		.form-row .form-wrapper.item.two {
			width: 70.4%; } 
		.form-row .form-wrapper.item.three {
			width: 14.5%; }
		.form-row .form-wrapper.item.four{
			width: 15.85%; }		
		.form-row .form-wrapper:first-child {
			margin-right: 0; }}

/*# sourceMappingURL=style.css.map */
